# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variable files
.env
.env.test
.env.production

# Parcel-bundler cache (if you use Parcel)
.cache

# Next.js build output (if you use Next.js)
.next

# Nuxt.js build output (if you use Nuxt.js)
.nuxt
dist

# Gatsby files
.cache/
public

# Vue.js build output (if you use Vue.js)
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# Editor directories and files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Miscellaneous
.sass-cache
connect.lock
coverage
node_modules/
bower_components
.project
.DS_Store
Thumbs.db

# TernJS (if you use TernJS)
.tern-port
